@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	}
h1 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin-bottom: 20px;
	}
.board {
	background: #3498db;
	text-align: center;
	}
button {
	margin-bottom: 10px;
	background: #3498db;
	text-decoration: none;
	border: 1px #fff solid;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	width: 120px;
	height: 30px;
	}
.btn-delete, .add-card {
	margin: 5px;
	}	
.btn-delete {
	width: 25px;
	height: 25px;
	}
.column {
	display: inline-block;
	width: 33.3%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	border: solid 1px #fff;
	padding: 10px;
	vertical-align: top;
	}
ul {
	list-style-type: none;
	}
